.page.theme_light {
  --page-background-image: url(/images/cover-image-light.png);
  --page-background-color:#FFF1F7;
  --title-color: #FFC2E6;
  --content-title-color: #353430;
  --text-background-color: #FF8DCB;
  --main-text-color: #353430;
  --content-subtitle-color: #353430;
}

.page.theme_light .rec {
    visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url(/images/cover-image-light.png);
    --page-background-color:#FFF1F7;
    --title-color: #FFC2E6;
    --content-title-color: #353430;
    --text-background-color: #FF8DCB;
    --main-text-color: #353430;
    --content-subtitle-color: #353430;
  }
    
  .rec {
      visibility: hidden;
  }
}
