* {
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  color: var(--subtitle-color);
}

a {
  text-shadow: 2px 2px var(--text-background-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.page {
  margin-inline: auto;
  padding: 10px;
  background-color: var(--page-background-color, #000);
  background-image: var(--page-background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.page::before {
  position: fixed;
  inline-size: 100vi;
  content: "";
  inset: 0;
  background-color: var(--page-background-color);
  opacity: 0.5;
  z-index: -1;
}

.header {
  position: relative;
  display: grid;
  block-size: 100vb;
  padding-block-end: 20px;
}

.decorated-zone::before {
  content: "";
  justify-self: right;
  align-self: self-start;
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: solid 1px var(--content-title-color);
  border-block-start: solid 1px var(--content-title-color);
}

.decorated-zone::after {
  content: "";
  justify-self: left;
  align-self: self-end;
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: solid 1px var(--content-title-color);
  border-block-end: solid 1px var(--content-title-color);
}

.rec {
  display: inline-block;
  justify-self: right;
  position: absolute;
  top: 0;
  right: 10px;
  color: #ff0070;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  background-color: #ff0070;
  border-radius: 50%;
  box-shadow: #ff0070 0 0 5px 2px;
}

.header__theme-menu {
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  block-size: 100px;
  margin-block-start: 4%;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  color: var(--content-title-color);
  border: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: solid 1px
    color-mix(in srgb, var(--content-title-color) 60%, transparent);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: solid 1px var(--content-title-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--content-title-color);
  pointer-events: none;
}

.header-title {
  align-self: flex-end;
  font-size: 116px;
  color: var(--title-color);
  text-shadow: 4px 4px #ff0070;
  line-height: 0.83em;
}

.header-paragraph {
  align-self: self-end;
  justify-self: self-end;
  margin-block-start: 0.9em;
}

.bg-text-decor {
  background-color: var(--text-background-color);
}

.content-title {
  color: var(--content-title-color);
  margin-block-start: 8%;
  margin-block-end: 6%;
}

.content-paragraph {
  margin-block-end: 1em;
}

.content-text {
  margin-block-start: 0.54em;
  line-height: 1.3em;
  margin-block-end: 1.12em;
  color: var(--main-text-color);
}

.content-text:last-of-type {
  margin-block-end: 2.85em;
}

.list-title-bold {
  font-weight: 700;
  color: var(--content-subtitle-color: );
}

.list-title-normal {
  font-weight: 400;
  color: var(--content-subtitle-color: );
}

.gallery {
  margin-block-start: 0.6em;
  display: grid;
  grid-auto-rows: max-content;
  gap: 10px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding-block-start: 20px;
  display: grid;
  block-size: 100vb;
}

.footer-title {
  font-size: 116px;
  margin: auto;
  color: var(--title-color);
  text-shadow: 2px 2px #ff0070;
  line-height: 85%;
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }

  .header {
    block-size: 100vb;
    padding-block-end: 40px;
  }

  .header__theme-menu-list {
    margin-block-start: 72%;
  }

  .header-title {
    margin-block-start: 6%;
    align-self: center;
    margin-inline-start: -0.17em;
    letter-spacing: 0.02em;
  }

  .header-paragraph {
    inline-size: 364px;
    align-self: center;
    justify-self: self-end;
    margin-block-start: 3.5em;
  }

  .content__text-block:nth-of-type(2n-1) {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 2fr;
    margin-block-start: 2.2em;
  }

  .content__text-block:nth-of-type(1) .content-title {
    grid-row-end: span 4;
    margin-block-start: 0;
  }

  .content__text-block:nth-of-type(2) .content-text {
    margin-block-start: 0.6em;
  }

  .content__text-block:nth-of-type(3) .content-text:last-of-type {
    margin-block-end: 4.6em;
  }

  .content__text-block:nth-of-type(2) .content-title {
    margin-block-start: 1.6em;
    margin-block-end: 1.1em;
    inline-size: 150px;
  }

  .content__text-block:nth-of-type(3) .content-title {
    grid-row-end: span 11;
    margin-block-start: 0;
  }

  .content__text-block:nth-of-type(3) {
    margin-block-start: 4.5em;
  }

  .gallery {
    margin-block-start: 1.1em;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
  }

  .gallery-image-1 {
    grid-column-end: span 2;
  }

  .gallery-image-2 {
    grid-row-end: span 2;
  }

  .gallery-image-3 {
    grid-row-end: span 2;
  }

  .gallery-image-5 {
    grid-column-end: span 2;
  }

  .footer {
    margin-block-start: 3.3em;
    block-size: calc(100vb - 20px);
  }

  .footer-title {
    letter-spacing: 0.02em;
  }
}

@media (min-width: 1024px) {
  .page::before {
    opacity: 0;
  }

  .header__theme-menu {
    position: relative;
    inset: -55% 0;
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-block-start: 0;
  }

  .header-title {
    font-size: 157px;
    margin-inline-start: -0.14em;
    margin-block-start: 2%;
    letter-spacing: 0;
  }

  .header-paragraph {
    inline-size: 490px;
    margin-block-start: 2em;
  }

  .content-text {
    margin-block-end: 1.2em;
  }

  .content__text-block:nth-of-type(3) .content-text:last-of-type {
    margin-block-end: 4.3em;
  }

  .content__text-block:nth-of-type(2n-1) {
    column-gap: 10px;
  }

  .content__text-block:nth-of-type(2) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
  }

  .content__text-block:nth-of-type(2) .content-title {
    grid-column-end: span 3;
    inline-size: 260px;
  }

  .content__text-block:nth-of-type(3) {
    margin-block-start: 1.5em;
  }

  .gallery {
    min-block-size: 1048px;
  }

  .footer-title {
    font-size: 157px;
    letter-spacing: 0;
  }
}
