/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root {
  --header-bg-image: url(/images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;

  --title-font-size: 116px;
}

* {
  font-size: 18px;
  font-family: IBM Plex mono, sans-serif;
}

.page {
  padding: 10px 10px 0;
  background-color: var(--bg-color, #000);
  background-image: var(--header-bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;

}

.header::before {
  content: '';
  justify-self: right;
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: solid 1px var(--accent-color);
  border-block-start: solid 1px var(--accent-color);
}

.header::after {
  content: '';
  justify-self: left;
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: solid 1px var(--accent-color);
  border-block-end: solid 1px var(--accent-color);
}

.rec {
  justify-self: right;
  color: var(--accent-color);
  text-transform: uppercase;
}

.rec::after {
  content: '';
  display: inline-block;
  inline-size: 11px;
  block-size: 11px;
  margin-inline-start: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: #FF0070 0 0 10px 2px;
}

.header__theme-menu {
  justify-self: right;
}

.header__theme-menu-button {
  inline-size: 70px;
  background-color: transparent;
  text-transform: lowercase;
  color: var(--accent-color);
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color)
}

.header-title {
  font-size: var(--title-font-size);
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
  line-height: 85%;
}

.title-decor {
  background-color: var(--accent-color);
}

.content-title {
  color: var(--accent-color);
}

.list-title {

}

.content-text {
  color: var(--main-text-color)
}

ul {
  padding: 0;
}
