:root {
  --page-background-image: url(/images/cover-image-dark.png);
  --page-background-color: #000028;
  --title-color: #DB00FF;
  --content-title-color: #FF0070;
  --text-background-color: #FF0070;
  --main-text-color: #F1B2CE;
  --content-subtitle-color: #000028;
}